/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&family=Merriweather:wght@300;400;700&display=swap');
body{
    /* font for body 👇 */
    font-family: 'Merriweather', serif;
    /* available weights */
    /* 
        Light 300
        Regular 400
        Bold 700
    */

    /* fort for heading 👇 */
    /* font-family: 'Lato', sans-serif; */
    /* available weights */
    /* 
        Regular 400
        Bold 700
        Black 900 Italic
    */
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* ANCHOR: HEADER */
.container-90{
    width: 90%;
    margin: 0 auto;
}
.col-2{
    display: flex;
    justify-content: space-between;
}
header{
    margin-bottom: 30px;
}
.logo-container{
    display: flex;
}
.logo-container{

}

.logo-container .img-container{
    width: 280px;
    height: auto;
}
.logo-container .img-container img{
    width: 100%;
}

.identity{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 54px;
    margin-left: -59px;
    margin-top: 29px;
}
.identity::after{
    content: '"Be educated, be a good achiever..."';
    display: block;
    right: -252px;
    position: relative;
    font-size: 16px;
    bottom: 10px;
}

.contact-info{
    display: flex;
    /* flex-direction: column; */
    gap: 25px;
}

.header-phone,
.header-email{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-phone i,
.header-email i{
    font-size: 45px;
    color: crimson;
}
/* ANCHOR: NAVBAR */
nav{
    background-color: #001D3D;
    height: 60px;
    /* margin-top: -50%; */
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
}
.landing-main{
    height: 100vh;
    position: relative;
    /* background-color:#F6F7EB; */
}
.nav-list{
    display: flex;
    list-style: none;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: inherit;
    transition: .35s ease all;
}
.nav-list .nav-item{
    cursor: pointer;
}
.nav-list .nav-item:hover{
    scale: 1.05;
    text-decoration: underline;
    text-decoration-color: crimson;
    text-decoration-thickness: 3px;
    
}
.nav-list .nav-item .button{
    background-color: crimson;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}
/* ANCHOR: MAIN */
.landing-section{
  height: calc(100vh - 178.562px);
  background-color:#737f961a;
  display: flex;
}
.landing-section .left-container{
  align-self: flex-end;
  flex: 1 1 50%;

}
.landing-section .left-container img{
  display: block;
  width: 70%;
  margin: auto;
}
.landing-section .right-container{
  flex: 1 1 50%;
  align-self: center;
}
.landing-section .right-container h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.landing-section .right-container p{
  width: 60%;
  font-weight: 300;
}
.button.call-to-action{
  background-color: #c50c0c;
  color: #ffffff;
  font-weight: 700;
  width: max-content;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px 0px;
  cursor: pointer;
  
}
.about-us .tow-column{
  display: flex;
  width: 90%;
  margin: 20px auto;
  gap: 40px;
  height: 232px;
  align-items: center;
}
.about-us .left{
  flex: 1 1 50%;
  
}
.about-us .left h3{
  /* width: 40%; */
  /* margin-left: auto; */
  /* margin-right: 0px; */
  line-height: 30px;
  font-size: 1.6rem;
  text-align: end;
}
.about-us .right{
  flex: 1 1 50%;
}
.about-us .right p{
  position: relative;
  top: -20px;
}
.button.read-more{
  width: max-content;
  /* margin-left: auto; */
  /* margin-right: 180px; */
  margin: 20px 0px 0px auto;
  border: 2px solid red;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: underline;
}
.section-title{
  font-size: 2rem;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: red;
}
.our-teachers{
  background-color: #737f961a;
}
.our-teachers .tow-columns{
  display: flex;
  gap: 50px;
  width: 85%;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 315px;
  align-items: center;
}
.our-teachers .tow-columns .left{
  flex: 1 1 40%;
}
.our-teachers .tow-columns .left p{
  margin: 10px 0px;
}
.our-teachers .tow-columns .left h2{
  text-decoration: underline;
    font-size: 1.6rem;
    text-decoration-color: #E94F37;
}
.our-teachers .tow-columns .right{
  flex: 1 1 40%;
  display: flex;
  justify-content: space-around;
}
.our-teachers .tow-columns .right img{
  border-radius: 50%;
  width: 160px;
}
.our-teachers .tow-columns .right p{
  text-align: center;
  margin-top: 10px;
}
.notes{
  margin: 50px 0px;
}
.notes .two-columns{
  display: flex;
  width: 85%;
  margin: 0 auto;
  min-height: 500px;
}
.notes .two-columns .left{
  flex: 1 1 30%;
}
.notes .two-columns .left .class-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.notes .two-columns .left .class-container .class{
  width: 40%;
  min-width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #737f961a;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  cursor: pointer;

}
.notes .two-columns .right{
  flex: 1 1 65%;
}
.notes .two-columns .right .subjects{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.notes .two-columns .right .subjects .subject{
  width: max-content;
  padding: 10px 20px;
  border: #E94F37 solid 1px;
  color: #E94F37;
  border-radius: 30px;
  cursor: pointer;
}
.notes .two-columns .right .subjects .subject.selected{
  background-color: #E94F37;
  color: white;
}
.notes .two-columns .left .class-container .class.selected{
  background-color: #E94F37;
  color: white;
}
.notes .two-columns .right .study-material{
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  overflow-y: auto;
  gap: 10px;
  margin-top: 30px;
  max-height: 380px;
}
.notes .two-columns .right .study-material .note{
  background-color: #737f9621;
  height: 150px;
  width: 119px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.notes .two-columns .right .study-material .note i{
  flex: 1 1 50%;
  justify-self: flex-start;
  font-size: 2.2rem;
  color: gray;
  position: relative;
  top: -10px;
}
.notes .two-columns .right .study-material .note p{
  flex: 1 1 50%;
  justify-self: flex-end;
  padding: 10px;
}
.notes .two-columns .right h2,
.notes .two-columns .left h2{
  padding: 15px 0px;
  text-decoration: underline;
}

.scrollbar
{
	background: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.gallery{
  /* height: 2px;
  width: 100%; */
  margin: 100px 0px;
}
.gallery .imgs-container{
  display: flex;
  position: relative;
}
.gallery .imgs-container .dots-container .dot{
  height: 15px;
  width: 15px;
  background-color: #ffffff99;
  border-radius: 50%;
  
  /* background-color: rgba(255, 255, 255, 0.384); */
}
.gallery .imgs-container .dots-container{
  position: absolute;
  display: flex;
  width: 70px;
  justify-content: space-between;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.gallery .imgs-container::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f053";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #DA6066;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 2px solid red;
}
.gallery .imgs-container::after{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f054";
  font-size: 30px;
  top: 50%;
  position: absolute;
  color: #DA6066;
  right: 15px;
  border: 2px solid red;
  z-index: 1;
}
.gallery .imgs-container .img-container{
  width: 33.33%;
  height: auto;
  position: relative;
  display: inline-block;
}
.gallery .imgs-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .imgs-container .img-container::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  background-color: #001d3d54;
}
/* available font colors */
.color-viewer{
  color: #001D3D;
  color:#202B59;
  color:#DA6066;
  color:#737F96;
  color:#F6F7EB;
    color:#E94F37;
  }